In [1]:
# Librairies de bases
import pandas as pd
import numpy as np

# Graphique
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("data\AQUASTAT Dissemination System.csv", on_bad_lines='skip')
data.head(3)

,Country,Variable,Unit,Symbol,"""1964""","""1965""","""1966""","""1967""","""1968""","""1969""",...,"""2011""","""2012""","""2013""","""2014""","""2015""","""2016""","""2017""","""2018""","""2019""","""2020"""
0,Afghanistan,% of agricultural GVA produced by irrigated a...,%,E,,,,,,,...,44.57,42.47,42.92,43.24,44.59,44.4,44.4,44.4,44.4,44.4
1,Afghanistan,Flood occurrence (WRI),,I,,,,,,,...,,,,3.7,3.7,3.7,3.7,3.7,3.7,3.7
2,Afghanistan,Flood occurrence (WRI),,X,,,,,,,...,,,3.7,,,,,,,